pyside6==6.6.3
pygtrans==1.5.3
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
deepl==1.18.0
openai==1.43.0
translators==5.9.2
pyperclip==1.9.0
openpyxl==3.1.5
qt-material==2.14
beautifulsoup4==4.12.3
pywin32==306
ping3==4.0.8